@model Graxei.Aplicacao.Implementacao.MVC4Unity.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}
<h2>
    Home</h2>
<p>
    This is the sample code for the post "ASP.NET MVC &amp; jQuery UI autocomplete"
    on <a href="http://blogs.msdn.com/stuartleeks">http://blogs.msdn.com/stuartleeks</a>
</p>
<div>
    @Html.LabelFor(m => m.SomeProperty)
    @Html.TextBoxFor(m => m.SomeProperty, new { data_autocomplete_url = Url.Action("Autocomplete") })
</div>
