<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette" itemscope>
    <div class="col-md-7 note-f1">
    </div>
    <div class="col-md-5">
        <h2 class="featurette-heading">Fácil. Rápido. Eficiente!!!<span class="text-muted">Encontre o que deseja</span></h2>
        <p class="lead">O Graxei oferece pesquisa extremamente ágil ao que você procura.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette note-f2-row" itemscope>
    <div class="col-md-5">
        <h2 class="featurette-heading">Experimente gratuitamente! <span class="text-muted">Sinta a vantagem de anunciar no Graxei.</span></h2>
        <p class="lead">Comece anunciando seus produtos de forma gratuita. Se desejar, amplie suas propagandas com os planos do Graxei.</p>
    </div>
    <div class="col-md-7 note-f2">
        
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted"></span></h2>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <!-- img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image"-->
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
