<!-- START THE FEATURETTES -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/imagens/b1.png">
            <div class="carousel-caption carousel-caption-right carousel-caption-inverse">
                <h2>Graxei</h2>
                <h4>Ache as peças do seu auto sem sair de casa.</h4>
                <p>Pesquise, ache a peça e vá ate a loja aonde você encontrou a melhor peça e preço para você .</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/imagens/b2.png">
            <div class="carousel-caption carousel-caption-right">
                <h2>Em breve</h2>
                <h4>Novas funcionalidades e novas lojas cadastrada</h4>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="container">
    <hr class="featurette-divider">

    <div class="row featurette" itemscope>
        <div class="col-md-7 note-f1">
              <img class="featurette-image img-responsive" src="@Url.Content("~/Content/imagens/f1.png")" />
        </div>
        <div class="col-md-5">
            <h2 class="featurette-heading">Fácil. Rápido. Eficiente!!!<span class="text-muted">Encontre o que deseja</span></h2>
            <p class="lead">O Graxei oferece pesquisa extremamente ágil ao que você procura.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette note-f2-row" itemscope>
        <div class="col-md-5">
            <h2 class="featurette-heading">Experimente gratuitamente! <span class="text-muted">Sinta a vantagem de anunciar no Graxei.</span></h2>
            <p class="lead">Comece anunciando seus produtos de forma gratuita. Se desejar, amplie suas propagandas com os planos do Graxei.</p>
        </div>
        <div class="col-md-7 note-f2">
            <img class="featurette-image img-responsive" src="@Url.Content("~/Content/imagens/f2.png")" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-muted"></span></h2>
            <p class="lead"></p>
        </div>
        <div class="col-md-5">
            <!-- img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image"-->
        </div>
    </div>

    <hr class="featurette-divider">
</div>
<!-- /END THE FEATURETTES -->
