<div class="row">
    <div class="col-md-12">
        <div class="thumbnail thumbnail-search">
            <div class="row">
                <div class="col-md-2">
                    @Ajax.ImageActionLink(new ImageTag() { Src = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=", Width = 60, Height = 71 },
                         "", "VerLoja", "Loja", new { Controller = "Loja", IdTeste=1 }, new AjaxOptions() { UpdateTargetId = "myModal" }, new { @class = "thumbnail thumbnail-search" })
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Produto Nome</h4>
                        </div>
                        <div class="col-md-4">
                            Telefone
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Produto Descricao
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="bs-callout bs-callout-info">
                        <h4>R$0000,000</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal"></div>