@model Graxei.Apresentacao.MVC4Unity.Models.PesquisarModel
<div class="alert alert-danger" role="alert">
    <div class="row">
        <div class="col-md-12">
            <strong>@Info.SemResultadoPesquisa</strong>
        </div>
    </div>
</div>
