@{
    ViewBag.Title = "RedefinirSenha";
}

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">@Resources.Rotulos.RedefinirSenha</h3>
                </div>
                <div class="modal-body">
                    aaaaaaaaa
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Rotulos.Fechar</button>
                    <input type="submit" class="btn btn-primary" value="@Resources.Rotulos.Entrar"/>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $('#Modal').modal('show')
</script>
