@model Graxei.Modelo.Loja

@{
    ViewBag.Title = "Novo";
}

<h2>Nova Loja</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
        </div>
    </fieldset>
    <input type="submit" value="@Resources.Rotulos.Salvar"/>
}
