<form name="form-produtos-vendedor">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th class="col-md-2 col-lg-2">@Rotulos.Codigo</th>
                <th class="col-md-8 col-lg-8">@Rotulos.Descricao</th>
                <th class="col-md-2 col-lg-2">@Rotulos.Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prod in produtosController.produtos">
                <td class="col-md-2 col-md-2">{{prod.codigo}}</td>
                <td id="td-lista" class="col-md-8 col-md-8">
                    <div>
                        <button type="button" class="cancel btn btn-link" ng-click="produtosController.habilitarEdicao(prod)">
                            <img src="~/Content/imagens/editar.png" />
                        </button>
                        <label ng-click="produtosController.habilitarEdicao(prod)" class="descricao-produto">{{prod.descricao}}</label>
                    </div>
                    <div ng-hide="prod.exibir">
                        <textarea class="form-control"></textarea>
                        <span class="field-validation-valid" data-valmsg-replace="true"></span>
                        <button type="button" class="btn btn-default" onclick="tratarCliqueEdicao(this);">OK</button>
                        <button type="button" class="btn btn-default cancel" onclick="tratarCliqueEdicao(this);">Cancelar</button>
                        <button type="button" class="btn btn-default cancel" onclick="tratarCliqueEdicao(this);">Desfazer</button>
                    </div>
                </td>
                <td class="col-md-2 col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <input style="text-align:right;" name="preco-produto" type="text" class="form-control valor-produto" onkeyup="habilitarBotaoSalvar()" onchange='return validate(event);' doc-type="valor-meu-produto" data-thousands="." data-decimal="," />
                    </div>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th colspan="5">
                    @Ajax.LinkPaginacaoPesquisaProdutos(Model.Atual, Model.Total, 5)
                </th>
            </tr>
        </tfoot>
    </table>
</form>