
<div class="row">
    <div class="span12">
        @using (Ajax.BeginForm("Pesquisar", "Home", new { Controller = "Home", Loja = 1 }, new AjaxOptions() { UpdateTargetId = "myContent", HttpMethod = "GET", OnBegin = "openL();", OnComplete = "closeL(); teste();" }, new { @class = "navbar-form navbar-left", role = "search", id = "fq" }))
        {
            <div class="input-group nav-search">
                @Html.TextBox("q", "", null, new { @class = "form-control ", placeholder = @Graxei.Transversais.Idiomas.Rotulos.Pesquisar, id = "q", mozactionhint = "search" })
                <span class="input-group-btn">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="span12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="myContent"></div>
    </div>
</div>



