@model Graxei.Aplicacao.Implementacao.MVC4Unity.Models.LojaEnderecoViewModel

<h2>@String.Format(Textos.EnderecosLoja, Model.Loja.Nome)</h2>


<div>@Html.Label(Rotulos.Estado)</div>
<div>@Html.Bootstrap().