@using Graxei.Apresentacao.Areas.Administrativo.Infraestutura
@model Graxei.Apresentacao.Models.PesquisarModel

<script>

    function filtroSelecionado(tipofiltro, e) {
        $.ajax({
            type: "POST",
            url: "Home/SetFiltro",
            data: { filtro: tipofiltro, valor: $(e).val() }
        });
    }
</script>
<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#myModal" href="/Home/ContatoAnuncioModal">
    <div class="mark mark-l">
        <div class="m1">Anuncie </div>
        <div class="m2">Aqui</div>
    </div>
</a>

<div class="container container-perquisar">
    @{Html.RenderPartial(Model.PartialRender, Model);}
</div>