@model Graxei.Apresentacao.Models.EnderecoModel
<div class="modal-body">
    <div class="row alert alert-danger">
        <div class="col-md-12">
            A Loja não foi encontrada. Favor entre em contato.
        </div>
    </div>
</div>
