@model Graxei.Apresentacao.Models.EnderecoModel
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="dialogo" class="modal-dialog">
        <div class="modal-content">
             @{Html.RenderPartial(Model.PartialRender, Model);}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Rotulos.Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#Modal2').modal('show');

    function loadPage(result) {
        if (result.url) {
            // if the server returned a JSON object containing an url
            // property we redirect the browser to that url
            window.location.href = result.url;
        }
    }

</script>
