<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bem vindo ao sistema de anuncio/procura Buscaqui/Graxei</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="Styles/bootstrap.css" rel="stylesheet">
    <link href="Styles/bootstrap-responsive.css" rel="stylesheet">
	<link href="Styles/jquery.mCustomScrollbar.css" rel="stylesheet">
	<link href="Styles/my.css" rel="stylesheet">
	
	<script src="Scripts/jquery.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Styles/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Styles/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Styles/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="Styles/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="Styles/ico/favicon.png">

  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="Styles/img/product-logo.png" class="logo-header" />Graxei</a>
          <div class="nav-collapse collapse">
			<ul class="nav">
				<li>
					<div id="divSearch" class="pesquisa span5 input-append">
						<input class="span3 pull-left" type="text" placeholder="Informe o que deseja pesquisar" onkeypress="javascript:ModifySearch();">
						 <a class="btn btn-info pull-rigth" href="#"><i class="icon-search icon-white"></i>Pesquisar</a>
					</div>
				</li>
			</ul>
            <ul class="nav pull-right">
			  <li class="active"><a href="#">Pagina Principal</a></li>
              <li><a href="#about">Sobre</a></li>
              <li><a href="#contact">Contato</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="icon-asterisk icon-white"></div></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Ação</a></li>
                  <li><a href="#">Outra ação</a></li>
                  <li><a href="#">Fazer alguma coisa aqui</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Cabeçalho de navegação</li>
                  <li><a href="#">Separado por link</a></li>
                  <li><a href="#">Mais um separado por link</a></li>
                </ul>
              </li>
				<li class="dropdown">
				<button class="btn btn-info pull-rigth" data-toggle="dropdown">login</button>
				<div class="dropdown-menu" role="menu" aria-labelledby="login-drop">
                  <form action="/login/" method="post" class="form-inline" id="login-form-drop" role="menuitem">
                    <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="ZoDfTO3GNH7LV08gvWFpu6tHbi8bkA6x"></div>
                    <div class="input-append">
                      <input type="text" class="input-small muambator-email-singin email placeholder" placeholder="Usuário ou E-mail" name="username" maxlength="50">
                      <input type="password" class="input-small muambator-password-singin password placeholder" placeholder="Senha" name="password" maxlength="50">
                      <input type="submit" class="btn btn-primary login" value="Entrar">
                    </div>
                  </form>
                  <span class="divider" role="menuitem"></span><small role="menuitem"><a href="/perfil/esqueci-a-senha/">Esqueceu sua senha?</a></small> </div>
				</li>
				 </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div id="myModalLogin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
    <div class="container-main-visibility">
	<div class="span2">
		<div class="well sidebar-nav content_sidebar">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			End
          </div>
	</div>
	<div>
	<div class="span11 content_main">
	Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido<br />
	como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,<br />
	e mais outras coisas que verificaremos a frente<br />
	
	<table width="100%" class="table table-bordered">
		<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
				<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
						<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
						<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
						<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
						<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
						<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
						<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
						<tr>
		  <td rowspan="3" style="width:60px"><center><img src="..." class="img-polaroid"></center></td>
		  <td colspan="2" >Categoria</td>
		  <td>R$00,00</td>
		</tr>
		<tr>
		  <td colspan="3">Para facilitar e estimular a utiliza&ccedil;&atilde;o do programa, nesta parte ser&aacute; exibido
							como sugest&atilde;o, os produtos que s&atilde;o: mais pesquisados, mais ofertados,
							e mais outras coisas que verificaremos a frente</td>
		</tr>
		<tr>
		<td colspan="3">Centro - Rio de Janeiro - RJ</td>
		</tr>
	</table>
	</div>
	</div>
    </div> <!-- /container -->
    
    <script src="Scripts/bootstrap-transition.js"></script>
    <script src="Scripts/bootstrap-alert.js"></script>
    <script src="Scripts/bootstrap-modal.js"></script>
    <script src="Scripts/bootstrap-dropdown.js"></script>
    <script src="Scripts/bootstrap-scrollspy.js"></script>
    <script src="Scripts/bootstrap-tab.js"></script>
    <script src="Scripts/bootstrap-tooltip.js"></script>
    <script src="Scripts/bootstrap-popover.js"></script>
    <script src="Scripts/bootstrap-button.js"></script>
    <script src="Scripts/bootstrap-collapse.js"></script>
    <script src="Scripts/bootstrap-carousel.js"></script>
    <script src="Scripts/bootstrap-typeahead.js"></script>
	<script src="Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
	
	<script>
    (function($){
        $(window).load(function(){
			$(".content_sidebar").mCustomScrollbar({
				theme:"light"
			});
						$(".content_main").mCustomScrollbar({
				theme:"light"
			});
        });		
    })(jQuery);
</script>
  </body>
</html>
