<div class="alert alert-danger col-sm-6 col-sm-offset-3" role="alert" style="margin-top: 10px;">
    <span class=" glyphicon glyphicon-exclamation-sign" aria-hidden="true">
    </span>
    <span class="sr-only"></span>
    Ocorreu um erro ao processar sua requisição. Desculpe o transtorno.
</div>
