@model EnderecoModel
<div id="formEndereco">
    @{ 
        Html.RenderPartial("FormularioEndereco", Model);
    }

</div>
@*<script type="text/javascript">

    $(document).ready(function () {
        $("#IdEstado").change(function () {
            var estadoSel = $("#IdEstado").val();
            if (estadoSel != 0) {
                var url = '@Url.Action("EstadoSelecionado", "Enderecos")';
                    $.post(url, { idEstado: estadoSel },
                        function (data) {
                        });
                }
            });
            $(document).on("blur", "#IdCidade", function () {
                var estadoSel = $("#IdEstado").val();
                var cidadeDig = $(this).val();
                var url = '@Url.Action("CidadeSelecionada", "Enderecos")';
                $.post(url, { idEstado: estadoSel, valCidade: cidadeDig }, function (data) { });
            });
            $(document).on("blur", "#IdBairro", function () {
                var estadoSel = $("#IdEstado").val();
                var cidadeSel = $("#IdCidade").val();
                var bairroDig = $(this).val();
                var url = '@Url.Action("BairroSelecionado", "Enderecos")';
                $.post(url, { idEstado: estadoSel, valCidade: cidadeSel, valBairro: bairroDig }, function (data) { });
            });
        });
</script>
<script src="@Url.Content("~/Scripts/autocomplete.js")" type="text/javascript"></script>*@
