
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='~/Content/imagens/favicon.ico' itemprop="image">
    <link rel="shortcut icon" href='~/Content/imagens/favicon.ico' type="image/x-icon">
    <link rel="icon" href='~/Content/imagens/favicon.ico' type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>
<body>
    @*<div style="float: right">@{ Html.RenderAction("UsuarioLogado", "Login");}</div>*@
@*    <a href="Lojas">Nova Loja</a>
    <div id="nova-loja">*@
        @RenderBody()
    @*</div>*@
    @RenderSection("Scripts", false)
</body>
</html>
