<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>
    <body>
        @*<div style="float: right">@{ Html.RenderAction("UsuarioLogado", "Login");}</div>*@
        <a href="Lojas">Nova Loja</a>
        @RenderBody()
        @RenderSection("Scripts", false)
    </body>
</html>
