@model List<EnderecoListaModel>
@{
    ViewBag.Title = "Lista";
}
@{
    Html.RenderPartial("FormularioEndereco");
}
@foreach (EnderecoListaModel enderecoListaModel in Model)
{
    <div class="form-group">
        @enderecoListaModel.DescricaoEndereco
    </div>
}
