@using Graxei.Transversais.ContratosDeDados
@model List<Graxei.Transversais.ContratosDeDados.EnderecoListaContrato>
@{
    ViewBag.Title = "Lista";
}
@foreach (EnderecoListaContrato enderecoListaModel in Model)
{
    <div class="form-group">
        <div class="col-xs-8">
            @enderecoListaModel.DescricaoEndereco
        </div>
        <div class="col-xs-2">
            <a href="#" class="btn-link btn-default" onclick="editarEndereco(@enderecoListaModel.IdEndereco);">@Rotulos.Editar</a>
            <a href="#" class="btn-link btn-danger">@Rotulos.Excluir</a>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
}
