@model LojaModel

@{AjaxOptions ajax = new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "formLojas"};}
<div id="formLojas">
    @using (Ajax.BeginForm("Editar", "Lojas", ajax))
    {
        Html.RenderPartial("Cadastro", Model);
    }
</div>
