@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Models
@model Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Models.LojaModel

<div class="alert alert-success">
    <div>@Textos.LojaIncluida @Ajax.ActionLink(Textos.CriarNovaLoja, "Index", "Lojas", new AjaxOptions() { UpdateTargetId = "main" })</div>
</div>
@{AjaxOptions ajax = new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "main", HttpMethod = "POST" };}

@using (Ajax.BeginForm("Editar", "Lojas", ajax))
{
    Html.RenderPartial("Cadastro", Model);
}