@model LojaModel
@{
    ViewBag.Title = Rotulos.NovaLoja;
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")

<div id="novaloja">
    @{Html.RenderPartial("Nova", Model);}
</div>