@model LojaModel
@{
    Scripts.Render("~/bundles/typeahead");
    <div class="row" id="content-nova">
        <div class="col-md-12">
            @{
                AjaxOptions ajax = new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content-nova", HttpMethod = "POST", OnBegin = "openL('Salvando...');", OnComplete = "closeL();" };
                using (Ajax.BeginForm("Salvar", "Lojas", null, ajax, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    Html.RenderPartial("Formulario", Model);
                }
            }
        </div>
    </div>
}