@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Models
@model Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Models.LojaModel

@{
    ViewBag.Title = Rotulos.NovaLoja;
}
@{AjaxOptions ajax = new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "main", HttpMethod = "POST" };}
<h2>@Rotulos.NovaLoja</h2>

@using (Ajax.BeginForm("Novo", "Lojas", ajax))
{
    Html.RenderPartial("Cadastro", Model);
}
@if (Model.HaEnderecos())
{
    Html.RenderPartial("FormularioEndereco", Model.EnderecoContratoForm);
}
