.container-body {
    margin-top: 51px;
}

@media (min-width: 991px) {
    .nav-search {
        width: 430px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-search {
        width: 330px;
    }
}

.thumbnail-search {
    margin-bottom: 0px;
}

.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.menu-body {
    width: 15em;
    top: 3.6em;
    min-height: 40%;
    z-index: 800;
    position: fixed;
    border: 1px solid rgb(236, 128, 51);
    background-color: rgb(249, 249, 249);
    border-radius: 0px 0px 5px 0px;
    display: none;
}

.menu-button-open {
    top: 3.6em;
    position: fixed;
    background-color: #ed9c28;
    z-index: 800;
    padding: 5px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.menu-body > ul {
    margin: 0px;
    padding: 0px;
}

    .menu-body > ul > li {
        width: 100%;
        background-color: rgb(244, 242, 242);
        height: 34px; /* padding: 7px; */
        text-align: justify;
        vertical-align: middle;
        color: white;
        border-bottom: rgb(182, 181, 181) 1px solid;
    }

.menu-body a {
    color: black;
    display: block;
    height: 33px;
    text-align: justify;
    padding: 7px;
    background-image: linear-gradient(to bottom, #EFEFEF, #EAEAEA);
}

    .menu-body a:hover, .menu-body a:focus {
        color: black;
        text-decoration: none;
        background-color: rgb(240, 240, 240);
        background-image: linear-gradient(to bottom, #F4F1F1, #F0F0F0);
    }

    .menu-body a:active, .menu-body a:hover {
        outline: 0;
    }

.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    color: #fff;
    background-color: #ca3523;
    border-color: rgba(0,0,0,0.2);
}

.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn {
    border-radius: 3px;
}

.btn-social :first-child {
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.huge {
    font-size: 40px;
}

.background-alert-max {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(152, 152, 152, 0.45);
    z-index: 999;
}

.logo {
    background-image: url('/Content/imagens/graxei_logo.png');
    background-size: 32px 32px;
    padding-top: 15px;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: left center;
}

.modal-body .rodape {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.alert-danger {
    color: #FFFFFF;
    background-color: #DA0606;
    border-color: #ebccd1;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-load {
    top: 30%;
    position: fixed;
    left: 25%;
    width: 50%;
    font-weight: bold;
}

a.thumbnail-plano {
    color: #000;
    text-align: center;
    text-decoration: none;
}

.thumbnail-plano {
    width: 30%;
    margin: 3px;
    padding: 2px;
    float: left;
}

    .thumbnail-plano > ul {
        padding-left: 30%;
        text-align: justify;
        color: #6C6A67;
        list-style: none;
        padding-bottom: 5px;
    }

.pag-btn-group {
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 7px;
}

.btn-max {
    width: 100%;
    margin-left: 7px;
}

.modal-dialog.modal-dialog-endereco {
    width: 90%;
}

.modal-dialog-endereco > .modal-content {
    width: 90%;
    margin-left: 5%;
}

    .modal-dialog-endereco > .modal-content > .modal-wide .modal-dialog-endereco > .modal-content > .modal-body {
        overflow-y: auto;
    }

span.field-validation-error, small.field-validation-error {
    display: block;
    padding: 0.375rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: normal;
    background: #e25252;
    color: white;
    border-radius: 3px;
}

.field-validation-error span.error-message {
    display: block;
}

.validation-summary-errors {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    background: #db484a;
}

    .validation-summary-errors ul {
        padding-left: 0;
        margin: 0;
    }

    .validation-summary-errors li {
        list-style: none;
        color: #fff;
        padding: 10px;
    }

.border-r-contact {
    border-right: 1px solid #BBB6B6;
    border-radius: 20px;
}

.input-validation-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    .input-validation-error:focus {
        border-color: #843534;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    }

.btn-filial {
    margin-top: 8px;
}

.note-f1 {
    background-image: url('/Content/imagens/f1.png');
    min-height: 255px;
    background-repeat: no-repeat;
}

.note-f2 {
    background-image: url('/Content/imagens/f2.png');
    min-height: 255px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.note-f2-row {
    background-color: #F7F7F7;
}


.panel-warning > .panel-heading {
    background: -webkit-radial-gradient(#FAE2AE 18%, #faebcc);
    background: -o-radial-gradient(#FAE2AE 18%, #faebcc);
    background: -moz-radial-gradient(#FAE2AE 18%, #faebcc);
    background: linear-gradient(#FAE2AE 18%, #faebcc);
}

.panel-primary > .panel-heading {
    background: linear-gradient(#0772CF 20%, #428bca);
    background: -webkit-radial-gradient(#0772CF 20%, #428bca);
    background: -o-radial-gradient(#0772CF 20%, #428bca);
    background: -moz-radial-gradient(#0772CF 20%, #428bca);
}

.label-search {
    position: absolute;
    z-index: 90;
    float: right;
    right: 40px;
    top: 4px;
    font-size: larger;
    color: white;
}

    .label-search a,
    .label-search a:hover,
    .label-search a:focus,
    .label-search a:active {
        color: #000;
        text-decoration: none;
    }

    .border-right {
    border-right: 1px solid #C5C4C4;
    padding-right: 30px;
}

.fileinput {
    margin-bottom: 9px;
    display: inline-block;
}

    .fileinput .form-control {
        padding-top: 7px;
        padding-bottom: 5px;
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        cursor: text;
    }

    .fileinput .thumbnail {
        overflow: hidden;
        display: inline-block;
        margin-bottom: 5px;
        vertical-align: middle;
        text-align: center;
    }

        .fileinput .thumbnail > img {
            max-height: 100%;
        }

    .fileinput .btn {
        vertical-align: middle;
    }

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none;
}

.fileinput-inline .fileinput-controls {
    display: inline;
}

.fileinput-filename {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.form-control .fileinput-filename {
    vertical-align: bottom;
}

.fileinput.input-group {
    display: table;
}

    .fileinput.input-group > * {
        position: relative;
        z-index: 2;
    }

    .fileinput.input-group > .btn-file {
        z-index: 1;
    }

.fileinput-new.input-group .btn-file, .fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0;
}

    .fileinput-new.input-group .btn-file.btn-xs, .fileinput-new .input-group .btn-file.btn-xs, .fileinput-new.input-group .btn-file.btn-sm, .fileinput-new .input-group .btn-file.btn-sm {
        border-radius: 0 3px 3px 0;
    }

    .fileinput-new.input-group .btn-file.btn-lg, .fileinput-new .input-group .btn-file.btn-lg {
        border-radius: 0 6px 6px 0;
    }

.form-group.has-warning .fileinput .fileinput-preview {
    color: #8a6d3b;
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: #faebcc;
}

.form-group.has-error .fileinput .fileinput-preview {
    color: #a94442;
}

.form-group.has-error .fileinput .thumbnail {
    border-color: #ebccd1;
}

.form-group.has-success .fileinput .fileinput-preview {
    color: #3c763d;
}

.form-group.has-success .fileinput .thumbnail {
    border-color: #d6e9c6;
}

.input-group-addon:not(:first-child) {
    border-left: 0;
}

@media (max-width: 767px) {
    a.btn.btn-success {
        width: 100%;
        margin-left: 7px;
    }

    .navbar-right .navbar-form {
        margin-right: 0px;
    }

    .thumbnail-plano {
        width: 100%;
        margin: 3px;
        padding: 2px;
        float: none;
    }

        .thumbnail-plano > ul {
            padding-left: 45%;
            padding-bottom: 5px;
        }
}
