
.container-body{
	margin-top:51px;
}

@media (min-width: 991px){
	.nav-search{
		width: 430px;
	}

}

@media (min-width: 768px) and (max-width 991px){
	.nav-search{
		width: 330px;
	}

}


/*.header {
    background-color: #eee;
    height: 100px;
    border-bottom: 1px solid #ccc;
    left:0px;
    right:0px;
    top: 0px;
}

.bs-header {
padding-top: 55px;
}

.navbar-inverse-header {
background-color: #eee;
border-color: #CACACA;
}

.header-admin{
       background-color: #eee;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.container-main-index {
    visibility: visible;
    position: relative;
    margin-top: -20px;
    top: 80px;
}

img.logo {
    padding-top: 12px;
    float: left;
    height: 62px;
    width: 183px;
}

.menu-header-right {
    margin-left: -35px;
    width: 100px;
    min-width: 10px;
}

.logo img {
    padding-left: 50px;
}


.btn-search {
    width: 40px;
    padding-left: 10px;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    background-color: #357ae8;
}


.nav li + .nav-header {
    margin-top: 0px;
}
.nav-list > li > a, .nav-list .nav-header {
    margin-right: 0px;
    margin-left: 0px;
    text-shadow: 0;
}
.nav-list > li > a, .nav-list .nav-header {
    margin-right: 0px;
    margin-left: 0px;
    text-shadow: 0 ;
}
.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

@media (max-width: 979px){
    .container-main-index {
        visibility: visible;
        position: relative;
        top: 0px;
        margin-top:-20px;
    }
}




@media screen and (min-width: 1200px) {
    .bs-sidebar.affix-bottom, .bs-sidebar.affix {
        width: 263px;
    }
}
@media screen and (min-width: 992px) {
    .bs-sidebar.affix {
        position: fixed;
        top: 80px;
    }
     .bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.bs-sidenav {
margin-top: 30px;
margin-bottom: 30px;
padding-top: 10px;
padding-bottom: 10px;
text-shadow: 0 1px 0 #fff;
background-color: #f7f5fa;
border-radius: 5px;
}



DIV.auth {
    border-top: 1px solid gray;
    padding-top: .7em;
    border-bottm: 1px solid gray;
    padding-bottom: .7em;
    margin-bottom: .7em;
    background-color: lightcoral;
    color: white;
}

    DIV.item:first-child {
        border-top: none;
        padding-top: 0;
    }*/