@using Graxei.Aplicacao.Implementacao.MVC4Unity.Areas.Administrativo.Models
@model ItemListaNovosEnderecosModel

<div class="item">
    <h3>@Model.Endereco</h3>
    <h4>@Ajax.Bootstrap().ActionLinkButton(@Rotulos.Excluir, "Excluir", "Enderecos" ).RouteValues( new RouteValueDictionary(new {controller = "Enderecos", action = "Excluir", id = Model.Id})))</h4>
    
</div>
