<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

    <add name="graxei" connectionString="Server=gx-srv-pg-0001.cppiuqc6ucw6.sa-east-1.rds.amazonaws.com;database=graxeibd;user id=admingraxei;password=754graxei;Preload Reader = true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <api servidor="http://www.graxei.com.br:8083" xdt:Transform="SetAttributes">
    <rotas>
      <add name="pesquisa-produto" value="/graxei/api/v1/pesquisa-produto" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </rotas>
  </api>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>