@model List<TelefoneModel>
<div id="telefones" class="col-xs-5">
    <table id="container">
        <tr>
            <th>Telefone</th>
        </tr>
        @Html.EditorFor(p => p)
    </table>
</div>